version: "3.8"

services:
    qemu_stm32:
        image: 'onatm/qemu_stm32:latest'
        # restart: always
        environment:
            - http_proxy=hostnet:1082
            - https_proxy=hostnet:1082
        networks:
            - hostnet
        volumes:
            - D:\\temp\\qemu_stm32\\kernel:/var/kernel

networks:
    hostnet:
        external: true
        name: host
